{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
        <p class = "text2">
        About CS@Harvard and its Creators
        </h1>
        <p class = "text1">
            CS@Harvard is a new innovative tool aimed at aiding the selection of CS courses for undergraduates at Harvard. Unlike
            existing course selection tools, CS@Harvard allows students to customise their schedule by filtering and comparing courses in
            CS based on workload, recommendations, class size and quality of instructor. CS@Harvard recognises that there is not a "one
            size fits all" approach to CS, but rather students may wish to follow a variety of paths after CS50. By providing the data in
            a convenient and user-friendly fashion, we hope to increase enrolment in CS courses while ensuring that students are taking
            the courses most suited to their needs.
        </p>
        <br>
        <hr>
        <p class = "text2">
            <br>Justin Chan
        </p>
        <p class = "text1">
            Compiler of the SQL database on CS courses at Harvard for CS@Harvard. Implementer of the individual CS course pages at
            CS@Harvard, the "All" page, and the "Search" page.
        </p>
        <br>
        <hr>
        <p class = "text2">
            <br>Mateo Velarde
        </p>
        <!--<img src = "/static/mateo.jpg" alt="Picture of Mateo" height="250" width="165" class="rounded mx-auto d-block">-->
        <!--The Main Paragraph-->

        <p style = "font-size: 20px; text-align: left;" >
            Mateo Velarde sought to implement the design of this website. He used previous examples from CS50 and changed things up.
            Mateo is a freshman from Virginia. He took AP Computer Science A and Principles in high school and hopes to major in CS
            and maybe something else. He still does not know what CS class to take next semester, but he is certain this website
            will help him.
        </p>
        <br>

{% endblock %}