{% extends "layout.html" %}

{% block title %}
    CS109B
{% endblock %}

{% block main %}
    <h2>
        CS109B - Advanced Topics in Data Science
    </h2>
    <br>
    <p class="summary">
        Instructor: Pavlos Protopapas
        <br><br>
        2020 Spring &nbsp;&nbsp; Full Term &nbsp;&nbsp; MW &nbsp;&nbsp; 1:30pm - 2:45pm
    </p>
    <p class="info">
        <b>Description:</b>
        <br>
        Data Science 2 is the second half of a one-year introduction to data science. Building upon the material in Data
        Science 1, the course introduces advanced methods for data wrangling, data visualization, and statistical modeling
        and prediction. Topics include big data and database management, interactive visualizations, nonlinear statistical
        models, and deep learning. Part two of a two part series. The curriculum for this course builds throughout the
        academic year. Students are strongly encouraged to enroll in both the fall and spring course within the same academic
        year.
        <br><br>
        <b>Course Notes:</b>
        <br>
        Can only be taken after successful completion of CS 109a, AC 209a, Stat 121a, or equivalent. Students who have
        previously taken CS 109, AC 209, or Stat 121 cannot take CS 109b, AC 209b, or Stat 121b for credit.
        <br><br>
        <b>Recommended Prep:</b>
        <br>
        CS 109a, AC 209a, or Stat 121a required.
        <br><br>
        <b>Course Requirements:</b>
        <br>
        (Must take CS 109A OR APCOMP 209A OR STAT 121A before taking CS 109B) AND (Not to be taken in addition to CS 109,
        OR APCOMP 209, OR APCOMP 209B, OR STAT 121, OR STAT 121B.)
    </p>
{% endblock %}