{% extends "layout.html" %}

{% block title %}
    CS105
{% endblock %}

{% block main %}
    <h2>
        CS105 - Privacy and Technology
    </h2>
    <br>
    <p class="summary">
        Instructor: James H. Waldo
        <br><br>
        2019 Fall &nbsp;&nbsp; Full Term &nbsp;&nbsp; TTh &nbsp;&nbsp; 1:30pm - 2:45pm
    </p>
    <p class="info">
        <b>Description:</b>
        <br>
        What is privacy, and how is it affected by recent developments in technology? This course critically examines popular
        concepts of privacy and uses a rigorous analysis of technologies to understand the policy and ethical issues at play.
        Case studies: database anonymity, research ethics, wiretapping, surveillance, and others. Course relies on some
        technical material, but is open and accessible to all students, especially those with interest in economics,
        engineering, political science, computer science, sociology, biology, law, government, philosophy.
        <br><br>
    </p>
{% endblock %}