{% extends "layout.html" %}

{% block title %}
    CS100
{% endblock %}

{% block main %}
    <h2>
        CS100 - Software Engineering in the Arts and Humanities
    </h2>
    <br>
    <p class="summary">
        Instructor: David J. J. Malan
        <br><br>
        2019 Fall &nbsp;&nbsp; Full Term &nbsp;&nbsp; MW &nbsp;&nbsp; 1:30pm - 2:45pm
    </p>
    <p class="info">
        <b>Description:</b>
        <br>
        Introduction to applications of computer science (including web technologies, visualization, and database design) to
        domains in the arts and humanities. Emphasis on principles of software engineering and best practices, including code
        reviews, source control, and testing. Languages include JavaScript and SQL. Students work in teams to design and
        implement solutions to problems proposed by faculty from departments across campus. Offered jointly with Yale
        University.
        <br><br>
        <b>Course Notes:</b>
        <br>
        Enrollment limited. Apply at cs.harvard.edu/100.
        <br><br>
        <b>Recommended Prep</b>
        <br>
        CS50 or equivalent required.
    </p>
{% endblock %}