{% extends "layout.html" %}

{% block title %}
    CS121
{% endblock %}

{% block main %}
    <h2>
        CS121 - Introduction to Theoretical Computer Science
    </h2>
    <br>
    <p class="summary">
        Instructor: Boaz Barak
        <br><br>
        2019 Fall &nbsp;&nbsp; Full Term &nbsp;&nbsp; TTh &nbsp;&nbsp; 10:30am - 11:45am
    </p>
    <p class="info">
        <b>Description:</b>
        <br>
        Computation occurs over a variety of substrates including silicon, neurons, DNA, the stock market, bee colonies and
        many others. In this course we will study the fundamental capabilities and limitations of computation, including the
        phenomenon of universality and the duality of code and data. Some of the questions we will touch upon include: Are
        there functions that cannot be computed? Are there true mathematical statements that can’t be proven? Are there
        encryption schemes that can’t be broken? Is randomness ever useful for computing? Can we use the quirks of quantum
        mechanics to speed up computation?
        <br><br>
        <b>Course Notes:</b>
        <br>
        Students may not receive credit for both CS 121 and CS 125. Midterms will be on Thursday, October 10, 7pm and Thursday,
        November 14, 7pm.
        <br><br>
        <b>Recommended Prep:</b>
        <br>
        CExperience in formal mathematics at the level of CS 20. A "Homework Zero" will be posted on the course website
        cs121.boazbarak.org by July 1st. It is highly recommended that students complete it before the first lecture.
        <br><br>
    </p>
{% endblock %}