{% extends "layout.html" %}

{% block title %}
    CS124
{% endblock %}

{% block main %}
    <h2>
        CS124 - Data Structures and Algorithms
    </h2>
    <br>
    <p class="summary">
        Instructor: Jelani Nelson
        <br><br>
        2020 Spring &nbsp;&nbsp; Full Term &nbsp;&nbsp; MW &nbsp;&nbsp; 12:00pm - 1:15pm
    </p>
    <p class="info">
        <b>Description:</b>
        <br>
        Design and analysis of efficient algorithms and data structures. Algorithm design methods, graph algorithms,
        approximation algorithms, and randomized algorithms are covered.
        <br><br>
        <b>Course Notes:</b>
        <br>
        Starting in the spring of 2013, Computer Science 124 will assume background from Computer Science 20.
        Students will not receive credit for both CS 124 and CS 125.
        <br><br>
        <b>Recommended Prep:</b>
        <br>
        Computer Science 50 or equivalent; Computer Science 51 is helpful.
        <br><br>
    </p>
{% endblock %}