{% extends "layout.html" %}

{% block title %}
    CS109B
{% endblock %}

{% block main %}
    <h2>
        CS136 - Economics and Computation
    </h2>
    <br>
    <p class="summary">
        Instructor: David Parkes
        <br><br>
        2019 Fall &nbsp;&nbsp; Full Term &nbsp;&nbsp; TTh &nbsp;&nbsp; 9:00am - 10:15am
    </p>
    <p class="info">
        <b>Description:</b>
        <br>
        The interplay between economic thinking and computational thinking as it relates to electronic commerce, social
        networks, collective intelligence and networked systems. Topics covered include: game theory, peer production,
        reputation and recommender systems, prediction markets, crowd sourcing, network influence and dynamics, auctions
        and mechanisms, privacy and security, matching and allocation problems, computational social choice and behavioral
        game theory. Emphasis will be given to core methodologies, with students engaged in theoretical, computational and
        empirical exercises.
        <br><br>
        <b>Recommended Prep:</b>
        <br>
        Applied Math 21b, Computer Science 51 or equivalent, Statistics 110, and one of Computer Science 181, Computer
        Science 182, Economics 1011a, Economics 1052, or Economics 1056.
        <br><br>
    </p>
{% endblock %}