{% extends "layout.html" %}

{% block title %}
    CS143
{% endblock %}

{% block main %}
    <h2>
        CS143 - Computer Networks
    </h2>
    <br>
    <p class="summary">
        Instructor: H. T. Kung
        <br><br>
        2019 Fall &nbsp;&nbsp; Full Term &nbsp;&nbsp; MW &nbsp;&nbsp; 4:30pm - 5:45pm
    </p>
    <p class="info">
        <b>Description:</b>
        <br>
        Computer networking has enabled the emergence of mobile and cloud computing, creating two of the most important
        technological breakthroughs in computing of the past decade.  We expect three major focuses in the next ten years.
        First, we will witness the emergence of 5G wireless mobile networks, which will begin to replace the current 4G
        networks as early as 2020, enabling new applications and paradigm shifts in edge computing, such as uploading sensor
        data for AI applications everywhere. Second, cyber security, and in particular its relation to networking and supply
        chain security for 5G network infrastructure, will receive unprecedented attention from industry.  Third, blockchain
        technology, which has powered Bitcoin, is creating a new trusted network infrastructure that will allow information to
        be distributed but not copied. While these areas are each rich in intellectual content on their own, they will also
        interplay with one other, creating interesting opportunities for those versed in all three.  In order to play a role
        in this era of network-based computing, students must have a thorough understanding of these networking technologies
        and applications. Beyond teaching the basic networking protocols, which have become very mature and can be treated as
        a black box, in CS 143, we will teach new networking issues and topics of significance. This focus on upcoming
        wireless, cyber security as it relates to networks, network infrastructure, and the broader supply chain, and
        blockchain advancements is the motivation for CS 143 this semester.  Students in the course will read and discuss
        basic material as well as the latest literature, work on homework assignments, gain hands-on experience through
        network programming, and have the opportunity to present the concepts and insights learned through a final project.
        <br><br>
        <b>Recommended Prep:</b>
        <br>
        CS50 (or programming experience) and a strong interest in the subject matter. Lab sessions will be provided to
        give extra support.
        <br><br>
    </p>
{% endblock %}