{% extends "layout.html" %}

{% block title %}
    CS141
{% endblock %}

{% block main %}
    <h2>
        CS141 - Computing Hardware
    </h2>
    <br>
    <p class="summary">
        Instructor: David Brooks
        <br><br>
        2020 Spring &nbsp;&nbsp; Full Term &nbsp;&nbsp; TTh &nbsp;&nbsp; 1:30pm - 2:45pm
    </p>
    <p class="info">
        <b>Description:</b>
        <br>
        This course introduces fundamentals in designing and building modern information devices and systems that interface
        with the real world. It focuses on digital devices and systems, and it complements ENG-SCI 152, which focuses on
        devices and systems that use analog electronics. Topics include: combinational and sequential logic; computer
        architecture; machine code; and altogether the infrastructure and computational framework composing a MIPS processor.
        Consideration is given in design to interactions between hardware and software systems. Students will design
        application specific hardware for an embedded system.
        <br><br>
        <b>Recommended Prep:</b>
        <br>
        CS50 or programming experience required.
        <br><br>
    </p>
{% endblock %}