{% extends "layout.html" %}

{% block title %}
    CS152
{% endblock %}

{% block main %}
    <h2>
        CS152 - Programming Languages
    </h2>
    <br>
    <p class="summary">
        Instructor: Stephen Chong
        <br><br>
    </p>
    <p class="info">
        <b>Description:</b>
        <br>
        Comprehensive introduction to the principal features and overall design of both traditional and modern programming
        languages, including syntax, formal semantics, abstraction mechanisms, modularity, type systems, naming, polymorphism,
        closures, continuations, and concurrency. Provides the intellectual tools needed to design, evaluate, choose, and use
        programming languages.
        <br><br>
        <b>Recommended Prep:</b>
        <br>
        Computer Science 51; Computer Science 121 is recommended. Students must have good programming skills, be very
        comfortable with recursion, proofs, basic mathematical ideas and notations, including sets, relations, functions,
        and induction.
        <br><br>
    </p>
{% endblock %}