{% extends "layout.html" %}

{% block title %}
    CS153
{% endblock %}

{% block main %}
    <h2>
        CS153 - Advanced Topics in Data Science
    </h2>
    <br>
    <p class="summary">
        Instructor: Stephen Chong
        <br><br>
        2019 Fall &nbsp;&nbsp; Full Term &nbsp;&nbsp; TTh &nbsp;&nbsp; 12:00pm - 1:15pm
    </p>
    <p class="info">
        <b>Description:</b>
        <br>
        Implementation of efficient interpreters and compilers for programming languages. Associated algorithms and pragmatic
        issues. Emphasizes practical applications including those outside of programming languages proper. Also shows
        relationships to programming-language theory and design. Participants build a working compiler including lexical
        analysis, parsing, type checking, code generation, and register allocation. Exposure to run-time issues and
        optimization.
        <br><br>
        <b>Recommended Prep:</b>
        <br>
        Computer Science 51 or 61.
        <br><br>
    </p>
{% endblock %}