{% extends "layout.html" %}

{% block title %}
    CS171
{% endblock %}

{% block main %}
    <h2>
        CS171 - Visualization
    </h2>
    <br>
    <p class="summary">
        Instructor: Hanspeter Pfister
        <br><br>
        2019 Fall &nbsp;&nbsp; Full Term &nbsp;&nbsp; MW &nbsp;&nbsp; 3:00pm - 5:45pm
    </p>
    <p class="info">
        <b>Description:</b>
        <br>
        An introduction to key design principles and techniques for visualizing data. Covers design practices, data and
        image models, visual perception, interaction principles, visualization tools, and applications. Introduces
        programming of web-based interactive visualizations.
        <br><br>
        <b>Course Notes:</b>
        <br>
        Enrollment limited to 80 students.
        <br><br>
        <b>Recommended Prep:</b>
        <br>
        Students are required to have basic programming experience (e.g., Computer Science 50). Web programming experience
        (HTML, CSS, JS) is a plus.
        <br><br>
    </p>
{% endblock %}