{% extends "layout.html" %}

{% block title %}
    CS175
{% endblock %}

{% block main %}
    <h2>
        CS175 - Computer Graphics
    </h2>
    <br>
    <p class="summary">
        Instructor: Steven J. Gortler
        <br><br>
        2020 Spring &nbsp;&nbsp; Full Term &nbsp;&nbsp; TTh &nbsp;&nbsp; 12:00pm - 1:15pm
    </p>
    <p class="info">
        <b>Description:</b>
        <br>
        This course covers the fundamentals of 3D computer graphics using a modern shader-based version of OpenGL. Main
        topics include: geometric coordinate systems and transformations, keyframe animation and interpolation, camera
        simulation, triangle rasterization, material simulation, texture mapping, image sampling and color theory.
        The course also touches on ray tracing, geometric modeling and simulation-based animation.
        <br><br>
        <b>Recommended Prep:</b>
        <br>
        Computer Science 51 or 61, Applied Mathematics 22a or Mathematics 21b.
        <br><br>
    </p>
{% endblock %}