{% extends "layout.html" %}

{% block title %}
    CS189
{% endblock %}

{% block main %}
    <h2>
        CS189 - Autonomous Robot Systems
    </h2>
    <br>
    <p class="summary">
        Instructor: Radhika Nagpal
        <br><br>
        2020 Spring &nbsp;&nbsp; Full Term &nbsp;&nbsp; F &nbsp;&nbsp; 9:00am - 11:45am
    </p>
    <p class="info">
        <b>Description:</b>
        <br>
        Building autonomous robotic systems requires understanding how to make robots that observe, reason, and act.
        Each component uses many engineering principles: how to fuse, multiple, noisy sensors; how to balance short-term
        versus long-term goals; how to control one’s actions and how to coordinate with others. This year theme will be
        "Robots Roam the Halls", where we will focus on kinect-based robots that move in the SEAS buildings, to do
        applications like navigating, map building, and interacting with people. The class format will have a mixed
        lecture and lab format, and have a final project component.
        <br><br>
        <b>Recommended Prep:</b>
        <br>
        The only prerequisites are CS51 or CS61, or experience with programming and using APIs. This class is appropriate
        for CS, EE, and ME students interested in robotics.
    </p>
{% endblock %}