{% extends "layout.html" %}

{% block title %}
    CS181
{% endblock %}

{% block main %}
    <h2>
        CS181 - Machine Learning
    </h2>
    <br>
    <p class="summary">
        Instructor: Finale Doshi-Velez
        <br><br>
        2020 Spring &nbsp;&nbsp; Full Term &nbsp;&nbsp; MW &nbsp;&nbsp; 9:00am - 10:15am
    </p>
    <p class="info">
        <b>Description:</b>
        <br>
        Introduction to machine learning, providing a probabilistic view on artificial intelligence and reasoning under
        uncertainty. Topics include: supervised learning, ensemble methods and boosting, neural networks, support vector
        machines, kernel methods, clustering and unsupervised learning, maximum likelihood, graphical models, hidden Markov
        models, inference methods, and computational learning theory. Students should feel comfortable with multivariate
        calculus, linear algebra, probability theory, and complexity theory. Students will be required to produce non-trivial
        programs in Python.
        <br><br>
        <b>Recommended Prep:</b>
        <br>
        Computer Science 51, Statistics 110, Math 21a and 21b (or equivalent).
    </p>
{% endblock %}