{% extends "layout.html" %}

{% block title %}
    CS191
{% endblock %}

{% block main %}
    <h2>
        CS191 - Classics of Computer Science
    </h2>
    <br>
    <p class="summary">
        Instructor: Harry R. Lewis
    </p>
    <p class="info">
        <b>Description:</b>
        <br>
        Papers every computer scientist should have read, from all areas of the field and dating from its origins to the
        present.
        <br><br>
        <b>Recommended Prep:</b>
        <br>
        Intended for juniors and seniors in CS who have taken at least one 100 level course in Computer Science. Open to
        students from other concentrations who have the same background.
    </p>
{% endblock %}