{% extends "layout.html" %}

{% block title %}
    CS20
{% endblock %}

{% block main %}
    <h2>
        CS20 - Discrete Mathematics for Computer Science
    </h2>
    <br>
    <p class="summary">
        Instructor: Rebecca Nancy Nesson
        <br><br>
        2020 Spring &nbsp;&nbsp; Full Term &nbsp;&nbsp; MWF &nbsp;&nbsp; 12:00pm - 1:15pm
    </p>
    <p class="info">
        <b>Description:</b>
        <br>
        Widely applicable mathematical tools for computer science, including topics from logic, set theory, combinatorics,
        number theory, probability theory, and graph theory. Practice in reasoning formally and proving theorems.
        <br><br>
        <b>Course Notes:</b>
        <br>
        Covers material used in Computer Science 121 and Computer Science 124. Ordinarily, not to be taken after those
        courses or after courses such as Applied Mathematics 106, Applied Mathematics 107, Mathematics 101, and Mathematics 153.
    </p>
{% endblock %}