{% extends "layout.html" %}

{% block title %}
    CS51
{% endblock %}

{% block main %}
    <h2>
        CS51 - Abstraction and Design in Computation
    </h2>
    <br>
    <p class="summary">
        Instructor: Stuart M. Shieber
        <br><br>
        2020 Spring
    </p>
    <p class="info">
        <b>Description:</b>
        <br>
        Fundamental concepts in the design of computer programs, emphasizing the crucial role of abstraction. The goal of the
        course is to give students insight into the difference between programming and programming well. To emphasize the
        differing approaches to expressing programming solutions, you will learn to program in a variety of paradigms --
        including functional, imperative, and object-oriented. Important ideas from software engineering and models of
        computation will inform these different views of programming.
        <br><br>
        <b>Course Notes:</b>
        <br>
        Formerly Introduction to Computer Science II.
        <br><br>
        <b>Related Sections:</b>
        <br>
        Discussion: TBA
        <br>
        Laboratory: TTh	10:30 AM - 11:45 AM	Northwest Bldg B100 (SEAS)
        <br>
        Laboratory: TTh	12:00 PM - 1:15 PM	Northwest Bldg B100 (SEAS)
    </p>
{% endblock %}