{% extends "layout.html" %}

{% block title %}
    CS61
{% endblock %}

{% block main %}
    <h2>
        CS61 - System Programming & Machine Organization
    </h2>
    <br>
    <p class="summary">
        Instructor: Eddie Kohler
        <br><br>
        2019 Fall &nbsp;&nbsp; Full Term &nbsp;&nbsp; TTh &nbsp;&nbsp; 1:30pm - 2:45pm
    </p>
    <p class="info">
        <b>Description:</b>
        <br>
        Fundamentals of computer systems programming, machine organization, and performance tuning. This course provides a
        solid background in systems programming and a deep understanding of low-level machine organization and design.
        Topics include C and assembly language programming, program optimization, memory hierarchy and caching, virtual memory
        and dynamic memory management, concurrency, threads, and synchronization.
        <br><br>
        <b>Recommended Prep:</b>
        <br>
        CS50 or some experience programming in C.
    </p>
{% endblock %}