{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
    <p class="text3">
        To filter through CS courses, fill out the form below and press Search. Entries may be left blank.
    </p>
    <form action="/search" method="post">
        <label class = 'text3' for="semester">Select a semester  &nbsp;&nbsp; </label>
        <select class = 'input' id="semester" name="semester">
        <option></option>
        <option value="fall">Fall</option>
        <option value="spring">Spring</option>
        </select>
        <br>
        <label class = 'text3' for="workload">Specify a maximum weekly workload &nbsp;&nbsp; </label>
        <input class = 'input' type="number" min="0" max="30" step="0.1" id="workload" name="workload">
        <br>
        <label class = 'text3' for="course">Specify a minimum course score (/5) &nbsp;&nbsp; </label>
        <input class = 'input' type="number" min="0" max="5" step="0.1" id="course" name="course">
        <br>
        <label class = 'text3' for="instructor">Specify a minimum instructor score (/5) &nbsp;&nbsp; </label>
        <input class = 'input' type="number" min="0" max="5" step="0.1" id="instructor" name="instructor">
        <br>
        <label class = 'text3' for="recommended">Specify a minimum recommended score (/5) &nbsp;&nbsp; </label>
        <input class = 'input' type="number" min="0" max="5" step="0.1" id="recommended" name="recommended">
        <br>
        <input type="submit" value="Search">
    </form>
    <br><br><br><br><br><br>
{% endblock %}
